.SpotLight {
  position: relative;
  margin: 3em auto;
  padding: 1em;
}
.SpotLight_h1 {
  text-align: left;
  margin: 0;
  width: 100%;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.review_position {
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/*  */
.Review {
  width: 30%;
  backdrop-filter: blur(16px) saturate(144%);
  -webkit-backdrop-filter: blur(16px) saturate(144%);
  background-color: rgba(116, 116, 116, 0.07);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 3em;
  border-radius: 0.7em;
  top: 0;
  position: absolute;
  right: 0;
}
.review_header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.people_review {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  text-align: end;
}
.review_sub_header_one {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.review_sub_header_one h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.review_sub_header_one p {
  color: rgb(218, 218, 218);
}

.review_sub_header_one p span {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.review_sub_header_one img {
  /* background-color: rgb(0, 0, 0); */
  border-radius: 50%;
  margin-right: 1em;
  width: 70px;
}

.review_game_name_dextop {
  font-size: 1.2em;
  font-weight: bold;
}
.review_game_name_mobile {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
}

.green {
  background-color: rgb(0, 178, 101);
  border-radius: 0.5em;
  padding: 0.5em 0.8em;
  margin-right: 0.5em;
  font-size: 1em;
}

.green_circle {
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  content: "";
  display: block;
}

.game_rating {
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6em 0;
}
.game_rating .all_rating {
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.game_rating .all_rating div {
  margin-right: 0.7em;
}
.circle_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-right: 0.5em;
}
.circle_flex span {
  margin-right: 0.5em;
}
.game_text_rating {
  display: flex;
}

.review_btn {
  margin-top: 0.7em;
  background-color: #056c68;
  width: 100%;
  padding: 1em 0.5em;
  border-radius: 0.5em;
}

.RecentlyAddedText {
  font-size: 1.3em;
  font-weight: normal;
  font-family: "nexa", sans-serif;
  text-transform: capitalize;
}

@media (max-width: 1110px) {
  .review_game_name_dextop {
    display: none;
  }
  .review_game_name_mobile {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
  }

  .Review {
    width: 100%;
    padding: 2em;
    position: unset;
    margin: 0;
    backdrop-filter: blur(16px) saturate(144%);
    -webkit-backdrop-filter: blur(16px) saturate(144%);
    background-color: rgba(116, 116, 116, 0.07);
    border-radius: 12px;
    border: 0;
    padding: 3em;
    border-radius: 0.7em;
    top: 0;

    right: 0;
  }
  .game_rating {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .game_text_rating {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .all_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
  }
}
@media (max-width: 628px) {
  .SpotLight {
    padding: 0;
  }
  .Review {
    width: 100%;
    padding: 1em;
    position: unset;
    margin: 0;
    border: 0;
    border-radius: 0.7em;
  }
  .review_header {
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  .review_sub_header_one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .people_review {
    width: 100%;
    margin-top: 0.5em;
    text-align: start;
  }
}
@media (max-width: 562px) {
  .game_rating {
    font-size: 0.9em;
  }

  .all_rating h5 {
    font-size: 1em;
  }
  .all_rating h6 {
    font-size: 0.9em;
  }
}

@media (max-width: 562px) {
  .game_rating {
    font-size: 0.9em;
  }
  .review_game_name_mobile {
    font-size: 0.9em;
  }

  .all_rating h5 {
    font-size: 1em;
  }
  .all_rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100%;
  }
  .green {
    background-color: rgb(0, 178, 101);
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    margin-right: 0.5em;
    font-size: 1em;
  }

  .all_rating div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1450px) {
  .SpotLight_h1 {
    font-size: 2em;
  }
}
