.SignInPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  max-width: 400px;
  max-height: 500px;
}

.SignInPopUp_bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 90%;
  max-width: 400px;
  max-height: 500px;
  overflow: auto;
}
.SignInPopUp::-webkit-scrollbar {
  width: 0 !important;
}
.SignInPopUp::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 0;
}
.SignInPopUp::-webkit-scrollbar-track {
  background: none;
}

.SignInPopUp .SignInPopUp_bg {
  width: 100%;
  padding: 0 3em;
  background-color: rgb(24, 0, 38);
}
.signUp_Overlay {
  position: relative;
}

.close_icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  left: 10px;
  top: -35px;
  z-index: 10;
}

.close_icons img {
  width: 30px;
  background-color: #7b00af;
  border-radius: 50%;
  opacity: 0.7;
}

.close_icons img:hover {
  opacity: 1;
}

.signUp_Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp_Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_SignIn h1 {
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0;
}

.flex_SignIn p {
  text-align: center;
  padding-top: 1em;
}
.flex_SignIn {
  position: relative;
}

.flex_SignIn .connect_wallet {
  text-align: center;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b00af;
  font-size: 0.9em;
}

.flex_SignIn .connect_wallet img {
  width: 20px;
  margin-left: 0.3em;
}

.flex_SignIn hr {
  opacity: 0.2;
  margin: 1em 0;
}

.flex_SignIn_wallet div button,
.flex_SignIn_wallet button {
  border: 1px solid wheat;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.5em !important;
  text-align: center;
  margin: 1em auto;
  background: linear-gradient(to right, #7b00af, #8000c4) !important;
}

/* .flex_SignIn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 40vh;
  width: 100%;
  background-color: black;
} */
.flex_SignIn img {
  object-fit: cover;
  width: 100%;
}
.flex_SignIn_wallet {
  font-size: 2em;
}

.flex_SignIn_wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex_SignIn_btn img {
  width: 120px;
  margin: 1em auto;
  height: auto;
  object-fit: cover;
}

.flex_SignIn_wallet button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 0.6em;
  border: 2px solid orange;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0.5em;
}

@media screen and (max-width: 600px) {
  .SignInPopUp .SignInPopUp_bg {
    width: 100%;
  }
  .SignInPopUp {
    width: 90%;
    height: 80%;
  }
}
