.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 19rem;
  padding: 1.6rem;
}

.recent_Images_Section img {
  width: 100vw;
  height: 200px !;
}

.categories_name .gamesRating_Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  max-height: 50px;
}
.categories_name .imageTitle {
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 1rem;
  margin-bottom: -0.125rem;
  padding-bottom: 0.125rem;
}
.categories_name .downloadIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-top: 0.3em;
}

.categories_name .downloadIcon h5 {
  font-size: 1.3em;
  padding: 0 0 0 0.3em;
  margin: 0;
  line-height: 100%;
  color: #e0e0e0;
  margin-left: 0.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.downloadIcon img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  padding: 0.2em;
  border-radius: 50%;
}

.categories_name .title_div_category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.categories_name .rating h1 {
  padding: 1.4em 0.6em;
  line-height: 0;
  font-size: 0.7em;
  font-weight: bold;
  overflow: hidden;
}
.categories_name .rating .red_bg {
  border-radius: 0.5em;
  background-color: red;
}
.categories_name .rating .yellow_bg {
  border-radius: 0.5em;
  background-color: rgb(255, 183, 0);
}
.categories_name .rating .green_bg {
  background-color: rgb(0, 198, 102);
  border-radius: 0.5em;
}
.categories_name .rating .gray_bg {
  background-color: gray;
  border-radius: 0.5em;
}

.categories_name .rating {
  margin-right: 0.5em;
}

.recent_section .recent_Images_Section img {
  width: 100%;
  height: 100%;
}
.imageTitle {
  font-size: 1.3em;
  overflow: hidden;
}

.topGame .recent_section .recent_Images_Section img {
  width: 100%;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  width: 100%;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.categories_name {
  padding: 0.2rem 0.65rem;
}
.categories_name .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  flex-wrap: wrap;
}
.categories_name .imageTitle {
  background-color: transparent;
}
.categories_name .rating .rating_text {
  padding: 0.3em 0.5em;
  font-size: 0.5em;
  font-weight: lighter;
  background-color: rgb(221, 221, 221);
  margin-right: 0.5em;
  border-radius: 0.5em;
  color: black;
  margin-bottom: 0.5em;
}
.categories_name .game_title {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
}

.game_title h3 {
  font-size: 0.7em;
  padding-left: 0;
  color: #e0e0e0;
}

.embla__slide {
  flex: 0 0 50%;
  min-width: 0;

  position: relative;
  width: 100%;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
}
.embla__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.embla__button:disabled {
  opacity: 0.3;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}

.sandbox__carousel {
  position: relative;
  background-color: var(--background-code);
}
@media (max-width: 749px) {
  .sandbox__carousel {
    border-top: 0.1rem solid var(--detail-low-contrast);
    border-bottom: 0.1rem solid var(--detail-low-contrast);
  }
}
@media (min-width: 750px) {
  .sandbox__carousel {
    border-radius: 0.6rem;
    border: 0.1rem solid var(--detail-low-contrast);
  }
}
.sandbox__header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}
.sandbox__footer {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 4rem 2rem;
}
.sandbox__footer__link {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--text-low-contrast);
  font-size: 1.4rem;
}
.sandbox__footer__link__svg {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: currentColor;
}

/*  */

.RecentlyAdded {
  margin: 3em 0;
}

.recent_section {
  background-color: #2d0967;
  width: 100%;
  border-radius: 0.8em;
  margin-right: 16px;
}

.recent_section a {
  border-radius: 0.9em;
  width: 100%;
  display: block;
}

.RecentlyAddedText {
  font-size: 1em;
  font-weight: 600;
  font-family: "nexa", sans-serif;
  text-transform: uppercase;
}

.Recent_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.Recent_Header h5 {
  font-family: "nexa", sans-serif;

  font-size: 1em;
}

.recent_Post_Section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin: auto;
}
.categories_name .tokenInfo {
  display: flex;
  flex-direction: column;
}

.categories_name .tokenInfo h3 {
  font-size: 1em;
  /* padding-bottom: 0.6em; */
}
.categories_name div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  text-transform: capitalize;
}

.categories_name .developer_name {
  background-color: transparent;
  font-size: 0.8em;
  color: #e0e0e0;
  font-weight: lighter !important;
}
.categories_name .game_buttom {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.7em;
  margin-bottom: 0.3em;
  width: 100%;
}

.categories_name .availableButton button {
  font-size: 0.9em;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5em;
}
.categories_name .availableButton button img {
  padding: 1px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.availableText {
  margin-left: 0.3em;
}

.verticalLine {
  height: 19px;
  width: 2px;
  color: #ffffff;

  background-color: #ffffff;
  margin-right: 0.5em;
}
.categories_name .game_buttom .download {
  text-align: center;
  width: 100%;
}
.hr_style {
  opacity: 0.3;
  margin: 0.5em 0;
}

.categories_name section {
  font-size: 0.9em;
  margin-right: 0.5em;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}
.categories_name section button {
  font-size: 0.7em;
  padding: 1em 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.categories_name section button div {
  margin-left: 0.5em;
}

.categories_name h4 {
  background-color: rgba(2, 120, 255, 0.133);
  margin-right: 0.4em;
  border-radius: 0.3em;
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 0.6em;
  padding: 0.5em;
}
.categories_name p {
  font-size: 0.7em;
}

.recent_section a:hover {
  border-radius: 0.9em;
}

.recent_section:hover {
  box-shadow: 0 0 10px rgba(136, 78, 160, 0.5); /* Purple box shadow */
  transition: box-shadow 0.3s ease; /* Add animation */
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  filter: drop-shadow(0 10px 16px rgba(255, 3, 98, 0.22));
  transform: var(--tw-transform);
}
.ageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ageRating img {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-right: 0.3em;
}

.ageRating h5 {
  font-size: 0.8em;
}

/* Add the following if you want to transition the scaling */
.recent_section {
  transition: transform 0.4s ease;
}

.recent_Images_Section {
  /* position: relative; */
  display: inline-block;
}

.imageTitle {
  font-size: 0.8em;
  font-family: "nexa", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.recent_Images_text {
  text-align: center;
}

.recent_Images_Section img,
.recent_Images_Section .recent_Images_text {
  margin: auto;
  object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}

.categories_name i {
  font-size: 0.7em;
}

@media screen and (max-width: 2200px) {
  .categories_name .imageTitle {
    font-size: 0.8em;
  }
  .game_title h5 {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 1097px) {
  .categories_name .tokenInfo .game_title {
    flex-direction: column;
    padding: 0;
  }
  .categories_name .tokenInfo .game_title h5 {
    padding: 0;
  }
}

@media screen and (max-width: 873px) {
  .categories_name .tokenInfo .game_title .imageTitle {
    font-size: 0.7em;
  }
  .categories_name .tokenInfo .game_title h5 {
    padding: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 830px) {
  /* .categories_name .rating {
    padding-right: 0.3em;
    border-radius: 0.5em;
    margin: 0;
  } */

  .categories_name .rating h1 {
    font-size: 0.8em;
    font-weight: bold;
  }
  .recent_section {
    margin: 1em 0;
  }
}

@media screen and (max-width: 706px) {
  .embla__slide {
    min-width: 0;
    padding-left: 0;
    position: relative;
    margin: auto;
  }
  .categories_name p {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 706px) {
  .recent_section .recent_Images_Section img {
    width: 100vw;
    border-radius: 0;
  }
  .categories_name p {
    display: none;
  }

  .recent_Images_Section img,
  .recent_Images_text {
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
  }
  .embla {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .embla__container {
    flex-direction: column;
    align-items: center;
  }

  .embla__slide {
    min-width: 0;

    position: relative;
    margin: auto;
  }
  .recent_Images_Section img,
  .recent_Images_Section .recent_Images_text {
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
    object-fit: cover;
  }
  .recent_Images_Section {
    display: block;
  }

  .categories_name {
    padding: 0.5em;
    margin: 0;
  }
}
@media screen and (max-width: 620px) {
  /* .categories_name .rating {
    margin-top: 0.5em;
  } */
  /* .categories_name .game_buttom {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5em;
    font-weight: bold;
    margin: 0.7em 0;
    width: 100%;
  } */
  .recent_section a {
    border-radius: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .recent_Images_Section img,
  .recent_Images_Section .recent_Images_text {
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
  }
  .categories_name .game_title {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
  }
  .hr_style {
    opacity: 0.3;
    margin: 0.2em 0;
  }
}
@media screen and (max-width: 608px) {
  .categories_name p {
    width: 100%;
  }

  .categories_name .rating {
    padding: 0;
    border-radius: 0.5em;
  }

  .categories_name .rating h1 {
    font-size: 0.7.5em;
    font-weight: bold;
  }
}

@media screen and (max-width: 448px) {
  .categories_name p {
    display: none;
  }

  .recent_Images_Section img,
  .recent_Images_Section .recent_Images_text {
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
  }
  .embla {
    padding: 1rem;
  }

  .imageTitle {
    font-size: 0.9em;
    font-family: "nexa", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 0.5em;
  }
  .categories_name i {
    font-size: 0.3em;

    padding-top: 1.5em;
  }
  .categories_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .embla__slide {
    width: 100%;
  }

  .categories_name .game_title {
    flex-direction: column;
  }

  .categories_name .game_title h5 {
    padding-left: 0;
  }
}
@media screen and (max-width: 433px) {
  .categories_name .tokenInfo .game_title .imageTitle {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1287px) {
  .recent_section .recent_Images_Section img {
    width: 100vw;
  }
}

@media screen and (min-width: 2200px) {
  .categories_name .tokenInfo .game_title {
    flex-direction: column;
  }
  /* .recent_section .recent_Images_Section img {
    width: 100vw;
    height: 300px;
  } */
  .imageTitle {
    font-size: 1.3em;
  }

  /* .topGame .recent_section .recent_Images_Section img {
    width: 100vw;
    height: 300px;
  } */

  .game_title h5 {
    font-size: 1em;
    padding: 0;
  }

  .RecentlyAddedText {
    font-size: 1em;
  }
  .categories_name .rating .rating_text {
    padding: 0.2em 0.3em 0 !important;
    font-size: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
  }
  .categories_name .developer_name {
    font-size: 1.2em;
  }

  .categories_name .ageRating,
  .categories_name .download {
    font-size: 1.4em;
    padding-bottom: 0.5em;
  }
  .categories_name .game_buttom {
    margin-bottom: 0em;
  }

  .categories_name .availableButton {
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    border-radius: 1em;
  }
  .ageRating img {
    width: 30px;
    height: 30px;
  }
  .categories_name .verticalLine {
    height: 1.7em;
  }

  .categories_name .availableButton button img {
    width: 30px;
    height: 30px;
  }
}
