.swiper {
  /* width: 100%;
  height: 100%; */
}
.mySwiper2 {
  background-color: #630bf1;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 30px !important;
  height: 30px !important;
  border-radius: 0.5em !important;
  margin: 0 0em !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #630bf1 !important;
  padding: 1.2em !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1em !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 0em !important;
}

.swiper-slide {
  /* text-align: center;
  font-size: 18px;
  background: #fff; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #ffffff !important;
  opacity: 0.8;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: rgb(255, 0, 242) !important;
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: white !important;
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/*  */

@media screen and (max-width: 790px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

/*  
*/

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  
*/

.button_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 1800px) {
  .button_container {
    max-width: 1712px;
  }
  .button_container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media (min-width: 992px) {
  .center.nrw {
    padding: 0 58px;
  }
  .center.nrw {
    max-width: 64rem;
  }
}

@media screen and (max-width: 800px) {
  .page_container {
    width: 98% !important;
  }
}
.container {
  width: 100%;
}
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
/* @media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1617px) {
  .container {
    max-width: 1617px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1921px;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 576px) {
  .center {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 768px) {
  .center {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .center {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1200px) {
  .center {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}

@media (min-width: 1800px) {
  .center {
    max-width: 1552px;
  }
  .center {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media (min-width: 992px) {
  .center.nrw {
    padding: 0 58px;
  }
  .center.nrw {
    max-width: 64rem;
  }
}

/* For WebKit browsers (Chrome, Safari) */
/* ::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent !important;
} */

.gamesCenter {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 576px) {
  .gamesCenter {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 768px) {
  .gamesCenter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .gamesCenter {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1200px) {
  .gamesCenter {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}

@media (min-width: 1800px) {
  .gamesCenter {
    max-width: 1552px;
  }
  .gamesCenter {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media (min-width: 992px) {
  .gamesCenter.nrw {
    padding: 0 58px;
  }
  .gamesCenter.nrw {
    max-width: 64rem;
  }
}

/* profile banner */

.profileBanner_container {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  height: 324px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  overflow: hidden;
  position: relative;
}

@media (min-width: 576px) {
  .profileBanner_container {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

@media (min-width: 768px) {
  .profileBanner_container {
    height: 700px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .profileBanner_container {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1617px) {
  .profileBanner_container {
    margin-left: 5.75rem;
    margin-right: 5.75rem;
    max-width: 1528px;
  }
}

@media (min-width: 1800px) {
  .profileBanner_container {
    margin-left: auto;
    margin-right: auto;
  }
}

.profileBanner_container img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.profileBanner_container:after,
.profileBanner_container:before {
  --tw-gradient-from: #16092b;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(22, 9, 43, 0));
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  bottom: 0;
  content: "";
  display: none;
  position: absolute;
  top: 0;
  width: 10rem;
  z-index: 10;
}

@media (min-width: 1617px) {
  .profileBanner_container:after,
  .profileBanner_container:before {
    display: block;
  }
}

.profileBanner_container:before {
  left: 0;
}

.profileBanner_container:after {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  right: 0;
}
