@import url("https://fonts.cdnfonts.com/css/nexa-bold");

.topGame .embla__container {
  width: 80vw;
}
.RecentlyAddedText {
  margin-bottom: 0.5em;
}
.topGame .embla {
  width: 100%;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  width: 100%;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.RecentlyAddedDiv {
  margin: 1em 0;
  position: relative;
}

.RecentlyAdded {
  /* padding: 0.5em; */
  position: relative;
}

.recent_section {
  width: 20%;
  margin: 0.5em;
  border-radius: 0.9em;
}

.recent_section a {
  border-radius: 0.9em;
}

.Recent_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin: 0.4em auto;
}
.topGamesHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin: 0 1em;
}
.browse_all {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.browse_all h1 span {
  color: white;
  margin-left: 0.3em;
}

.browse_all h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: "nexa", sans-serif;
  text-transform: uppercase;
  color: #ffd500;
  border-radius: 0.3em;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0 0.4em;
  margin: 0;
  overflow: hidden;
}

.browse_all div img {
  width: 20px;
  height: auto;
}

.recent_Post_Section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin: auto;
}
.categories_name div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.categories_name {
  padding: 0.5em;
}

.categories_name h4 {
  background-color: rgba(255, 255, 255, 0.133);
  margin-right: 0.4em;
  border-radius: 0.3em;
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 0.6em;
  padding: 0.5em;
}
.categories_name p {
  font-size: 0.7em;
}

.recent_section:hover {
  box-shadow: 0 0 10px rgba(136, 78, 160, 0.5); /* Purple box shadow */
  transition: box-shadow 0.3s ease; /* Add animation */
  transform: scale(1.07); /* Increase div size by 11px on hover */
}

/* Add the following if you want to transition the scaling */
.recent_section {
  transition: transform 0.4s ease;
}

.recent_Images_Section {
  /* position: relative; */
  display: inline-block;
}

.imageTitle {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.recent_Images_Section img {
  max-width: 100%;
  width: 100%;
  margin: auto;
  border-radius: 0.6em 0.6em 0 0;
}

/*  */
@media screen and (max-width: 1000px) {
  .embla__container {
    flex-direction: row;
  }
}

/* .embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 19rem;
} */
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  width: 100%;
  padding: 0;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  justify-content: flex-start;
}

.categories_name {
  padding: 1em;
}
.categories_name .rating {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0.7em;
}
.categories_name .imageTitle {
  background-color: transparent;
}
.categories_name .rating .rating_text {
  padding: 0.5em 0.7em;
  font-size: 0.7em;
  font-weight: bold;
  background-color: rgba(89, 89, 89, 0.219);
  margin-right: 0.5em;
  border-radius: 0.5em;
}
.categories_name .game_title {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.game_title h5 {
  font-size: 0.5em;
  padding-left: 0.6em;
}

.embla__slide {
  flex: 0 0 20%;
  position: relative;
  max-width: 20vw;

  padding: 0.3em 0.8em 0.3em 0;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
/* .topGameBtn .embla__buttons {
  width: 48%;
} */
.embla__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.embla__buttons button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0.5em !important;
  margin: 0 0em !important;
  cursor: pointer;

  color: white !important;
  background-color: #630bf1 !important;
  padding: 0.6em !important;
  color: white;
  border-radius: 0.3em;
  opacity: 1;
}

.embla__button:disabled {
  opacity: 0;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}
/*  */
.sandbox {
  width: 100%;
}
@media (min-width: 750px) {
  .sandbox {
    max-width: 67rem;
  }
}

.sandbox__carousel {
  position: relative;
  background-color: var(--background-code);
}
@media (max-width: 749px) {
  .sandbox__carousel {
    border-top: 0.1rem solid var(--detail-low-contrast);
    border-bottom: 0.1rem solid var(--detail-low-contrast);
  }
}
@media (min-width: 750px) {
  .sandbox__carousel {
    border-radius: 0.4rem;
    border: 0.1rem solid var(--detail-low-contrast);
  }
}
.sandbox__header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}
.sandbox__footer {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 4rem 2rem;
}
.sandbox__footer__link {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--text-low-contrast);
  font-size: 1.4rem;
}
.sandbox__footer__link__svg {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: currentColor;
}

/*  */

.recent_section {
  background-color: rgb(63, 0, 126);
  width: 100%;
  margin: 0.5em;
  border-radius: 0.9em;
}

.recent_section a {
  border-radius: 0.9em;
}

.RecentlyAddedText {
  font-size: 1.3em;
  font-weight: normal;
  font-family: "nexa", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.Recent_Header img,
.topGamesHeader img {
  width: 40px;
  height: auto;
  object-fit: cover;
  margin-right: 0.2em;
}

.Recent_Header h5,
.topGamesHeader h5 {
  font-family: "nexa", sans-serif;

  font-size: 1em;
}

.recent_Post_Section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin: auto;
}
.categories_name .tokenInfo {
  display: flex;
  flex-direction: column;
}

.categories_name .tokenInfo h3 {
  font-size: 0.8em;
  padding-bottom: 0.6em;
}
.categories_name div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.categories_name {
  padding: 0.5em;
}
.categories_name .developer_name {
  background-color: transparent;
  font-size: 0.8em;
}
.categories_name .game_buttom {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7em;
  font-weight: bold;
  margin: 1em 0;
}

.verticalLine {
  height: 15px;
  width: 1px;
  color: #ffffff;

  background-color: #ffffff;
  margin-right: 0.5em;
}
.categories_name .game_buttom .download {
  text-align: center;
}

.categories_name section {
  font-size: 0.8em;
  margin-right: 0.5em;
  text-transform: capitalize;
}
.categories_name section button {
  font-size: 0.6em;
  padding: 1em 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.categories_name section button div {
  margin-left: 0.5em;
}

.categories_name h4 {
  background-color: rgba(255, 255, 255, 0.133);
  margin-right: 0.4em;
  border-radius: 0.3em;
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 0.6em;
  padding: 0.5em;
}
.categories_name p {
  font-size: 0.7em;
}

.recent_section:hover {
  box-shadow: 0 0 10px rgba(136, 78, 160, 0.5); /* Purple box shadow */
  transition: box-shadow 0.3s ease; /* Add animation */
  transform: scale(1.07); /* Increase div size by 11px on hover */
}

/* Add the following if you want to transition the scaling */
.recent_section {
  transition: transform 0.4s ease;
}

.recent_Images_Section {
  /* position: relative; */
  display: inline-block;
}

.imageTitle {
  font-size: 0.7em;
  font-family: "nexa", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 0.3em;
}

.recent_Images_Section img {
  max-width: 100%;
  width: 100%;
  margin: auto;
  border-radius: 0.6em 0.6em 0 0;
}

.categories_name i {
  font-size: 0.7em;
  line-height: 0;
}

.topGame .embla__slide {
  flex: 0 0 60%;
}

@media screen and (max-width: 2199px) {
  /* .embla__slide {
    flex: 0 0 20%;
    max-width: 20vw;
  } */
}

@media screen and (max-width: 1439px) {
  .embla__slide {
    flex: 0 0 20%;
    max-width: 20vw;
  }

  .topGame .embla__slide {
    flex: 0 0 90%;
  }
}

@media screen and (max-width: 1163px) {
  .topGameBtn .embla__buttons {
    width: 95%;
  }
}

@media screen and (max-width: 1199px) {
  .embla__slide {
    flex: 0 0 25%;
    max-width: 25vw;
  }
}

@media screen and (max-width: 805px) {
  .embla__buttons {
    display: none;
  }
  .embla__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
  }
}

@media screen and (max-width: 769px) {
  .topGame .embla__container {
    width: 35vw;
    max-width: 35%;
  }
  .embla__slide {
    flex: 0 0 33.3%;
    max-width: 33.3vw;
  }
}
@media screen and (max-width: 706px) {
  .embla__buttons {
    display: none;
  }
  .topGameBtn .embla__buttons {
    width: 95%;
  }
  .embla__buttons button {
    margin: 2.5em auto 1em;
    padding: 0;
  }

  .categories_name p {
    font-size: 0.6em;
  }

  .categories_name p {
    display: none;
  }

  .recent_Images_Section img {
    max-width: 200px;
    width: 160px;
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
  }
  .embla {
    padding: 1rem;
  }
}
@media screen and (max-width: 703px) {
  .topGame .embla__container {
    width: 70vw;
    max-width: 70vw;
  }
}

@media screen and (max-width: 683px) {
  .topGame .embla__container {
    width: 70vw;
    max-width: 70vw;
  }
}

@media screen and (max-width: 490px) {
  .embla__slide {
    flex: 0 0 47%;
    margin: auto;
    max-width: 47vw;
  }
}

@media screen and (max-width: 448px) {
  .categories_name p {
    display: none;
  }

  .recent_Images_Section img {
    max-width: 70px;
    width: 70px;
    margin: auto;
    border-radius: 0.6em 0.6em 0 0;
  }
  .embla {
    padding: 0;
    margin: auto;
  }

  .imageTitle {
    font-size: 0.5em;
    font-family: "nexa", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 0;
  }

  .categories_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .embla__container {
    padding: 0 0.2em;
  }
}
@media screen and (max-width: 433px) {
  .topGame .embla__container {
    width: 90vw;
    max-width: 90vw;
  }
}

@media screen and (min-width: 1450px) {
  .recent_Images_Section img {
    max-width: 100%;
    width: 100vw;

    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.6em 0.6em 0 0;
  }
  .RecentlyAddedText {
    font-size: 2em;
  }

  .topGame .embla__slide {
    flex: 0 0 55%;
    max-width: 55vw;
  }
  .browse_all h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 2199.5px) {
  .topGame .embla__container {
    width: 30vw;
    position: relative;
    max-width: 25vw;
    padding: 1em;
  }
}
/* //1439
 */
@media screen and (min-width: 1920px) {
  .topGame .embla__container {
    width: 15vw;
    max-width: 15vw;
  }
  .embla__slide {
    flex: 0 0 16.66%;
    max-width: 16.66vw;
  }
}

@media screen and (min-width: 2891px) {
  .topGame .embla__container {
    width: 25vw;
    max-width: 25vw;
  }
}

@media screen and (min-width: 2891.5px) {
  .topGame .embla__container {
    width: 20vw;
    max-width: 20vw;
  }
}
